body {
  font-family: monospace;
  font-size: 1.2em;
}

div.outline-2 {
  background-color: white;
  padding-left: 10px;
  border: 2px black;
  border-style: solid;
  margin: 2px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

@media only screen and (max-width: 600px) {
  div.outline-2 {
    box-shadow: none;
  }
}

ul {
  padding-top: 10px;
}

li {
  list-style-type: square;
  padding-bottom: 10px;
}
